# Virtual environment
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# VS Code dan IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Model/cache sementara
*.log

# Sistem operasi
.DS_Store
Thumbs.db